*{
    margin: 0;
}
body{
    background-color: #D2DAED;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 200px;
}
.Header_container{
    display: flex;
    text-align: center;
    background-color: gray;
    height: 70px;
    border-bottom: 1px solid #C6C6C6;
}
input{
    width: 700px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 5px 0 0 5px;
}
.magnifying_glass{
    width: 30px;
    height: 30px;
    opacity: .5;
}
.Box_search{
    width: 40px;
    height: 37px;
    background-color: white;
    text-align: center;
    padding-top: 5px;;
    float: right;
    margin-top:15px;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid gray;
}
button{
    width: 40px;
    height: 37px;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.buy,.session{
    width: 40px;
    height: 37px;
}
.Header_container_opcion{
    text-align: center;
    margin-left: 30px ;
    margin-right: 15px;
    margin-top: 15px;
}
.container_buy{
    position: absolute;
}
.container_session{
    position: relative;
    margin-left: 185px;
}
.buy_text,.session_text{
    margin-left: 10px;
    margin-top: 7px;
    margin-right: 17px;
    float: right;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
}
section{
    width: 80%;
    height: 500px;
    float: right;
    background-color: red;
}
aside{
    width: 20%;
    height: 500px;
    background-color: green;
    float: left;
}
.link_session:visited,.link_buy:visited,li a:visited{
    color: black;
}
.link_session:hover,.link_buy:hover,li a:hover{
    color: #D2DAED;
}
.link_session:active,.link_buy:active,li a:active{
    color: #C6C6C6;
}
.container_buy:hover,.container_session:hover{
    color: #D2DAED;
    opacity: .6;
}
nav{
    width: 100%;
    height: 40px    ;
    background-color: gray;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    display: inline-block;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}
li {
    float: left;
    text-align: center;
    margin-top: 5px;
}